body{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

img{
    max-width: 100%;
    height: auto;
}

ul{ 
    padding: 10px;
    
}
ul > li{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
    color: white;
}


#dashboard{
    display: grid;
    grid-template-areas:
        "sidebar header header header"
        "sidebar header header header"
        "sidebar projects projects announcements"
        "sidebar projects projects announcements"
        "sidebar projects projects trending"
        "sidebar projects projects trending";
    gap: 10px;
    margin: auto;
}

.grid-sidebar{
    grid-area: sidebar;
    color: white;
    background-color: #24A5EF; 
}


.grid-header{
    grid-area: header;
}
.grid-projects{
    grid-area: projects;
}
.grid-announcements{
    grid-area: announcements;
}
.grid-trending{
    grid-area: trending;
}
.avatar{
    max-width:5%;
    height: auto;
}

ul#sidebar {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 20px;
}

ul#sidebar > li{
    margin-left: 10px;    
}

ul#sidebar > li.extra-margin  {
    margin-bottom: 50px;
}

header#header {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

header#header > section{
    display: flex;
    margin: 20px;
    justify-content: space-around;
}

header#header > section > i{
    padding: 20px;
}

header#header > section > p{
    margin-left: 30px;
}

header#header > section > input[type="text"]{
    flex-grow: 2;
}


section#projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    grid-auto-flow: row;
}

section#projects > article{
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: pink;
    
}

section#announcements{
    background-color: pink;
}

section#trending{
    background-color: pink;
}
