body{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

img{
    max-width: 100%;
    height: auto;
}

ul{ 
    padding: 10px;
    
}
ul > li{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
    color: white;
}


#dashboard{
    display: grid;
    /*grid-template-columns: 1fr 3fr;    */
    grid-template-areas:
        "sidebar header header header"
        "sidebar header header header"
        "sidebar projects projects announcements"
        "sidebar projects projects announcements"
        "sidebar projects projects trending"
        "sidebar projects projects trending";
    gap: 10px;
    
}

.grid-sidebar{
    grid-area: sidebar;
    color: white;
    background-color: #24A5EF; 
}


.grid-header{
    grid-area: header;
}
.grid-projects{
    grid-area: projects
}
.grid-announcements{
    grid-area: announcements;
}
.grid-trending{
    grid-area: trending;
}
.avatar{
    max-width:5%;
    height: auto;
}

ul#sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 20px;
}

ul#sidebar > li{
    margin-left: 10px;    
}

ul#sidebar > li.extra-margin  {
    margin-bottom: 50px;
}

header#header {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

header#header > section{
    display: flex;
}

header#header > section > i > input{
    flex-grow: 3;
}
/*
#container{
    display:grid;
    grid-template-rows: 1fr 5fr;
}

#content{
    display:grid;
    grid-template-columns: 5fr 1fr;
    row-gap: 40px;
    column-gap: 30px;
}
#projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr
}
*/



#projects>article{
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}
